<pr-dashboard-ticket-item *ngFor="let ticket of tickets; trackBy: trackByFn"
                   [ticket]="ticket">
</pr-dashboard-ticket-item>

<!--<pr-dashboard-item class = "dItems" translationKey="STAFF"-->
                   <!--[url]="routesService.staffNew()">-->
<!--</pr-dashboard-item>-->

<!--<pr-dashboard-item class = "dItems" translationKey="STAFF"-->
                   <!--[url]="routesService.staffNew()">-->
<!--</pr-dashboard-item>-->

<!--<pr-dashboard-item class = "dItems" translationKey="STAFF"-->
                   <!--[url]="routesService.staffNew()">-->
<!--</pr-dashboard-item>-->

<!--<pr-dashboard-item class = "dItems" translationKey="STAFF"-->
                   <!--[url]="routesService.staffNew()">-->
<!--</pr-dashboard-item>-->
