<mat-card class="mat-typography" draggable [dragData]="ticket">
  <!--<div class="page-header">-->
    <!--{{ ticketStatus.name }}-->
  <!--</div>-->

  <mat-card-content>
    {{ ticket.name }}
  </mat-card-content>

  <!--<div class="row">-->
    <!--<div class="col-sm-3">-->
      <!--<div class="card card-outline-primary mb-3" droppable [dropScope]="'swap-target-1'" [dragOverClass]="'drag-target-border'"-->
           <!--[dragHintClass]="'drag-hint'" (onDrop)="onList1Drop($event)">-->
        <!--<div class="card-header card-inverse card-primary">List 1</div>-->
        <!--<div class="card-block scroll-list">-->
          <!--<ul class="list-group">-->
            <!--<li draggable *ngFor="let item of list1" [dragScope]="'swap-target-2'" [dragClass]="'drag-over'" [dragData]="item" class="list-group-item ">-->
              <!--{{item.name}}-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-3">-->
      <!--<div class="card card-outline-primary mb-3" droppable [dropScope]="'swap-target-2'" [dragOverClass]="'drag-target-border'"-->
           <!--[dragHintClass]="'drag-hint'" (onDrop)="onList2Drop($event)">-->
        <!--<div class="card-header card-inverse card-primary">List 2</div>-->
        <!--<div class="card-block scroll-list">-->
          <!--<ul class="list-group">-->
            <!--<li draggable *ngFor="let item of list2" [dragScope]="'swap-target-1'" [dragClass]="'drag-over'" [dragData]="item" class="list-group-item">-->
              <!--{{item.name}}-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<mat-card-content>-->
    <!--{{ "DASHBOARD." + translationKey + ".BODY" | translate }}-->
  <!--</mat-card-content>-->

  <!--<mat-card-actions>-->
    <!--<button type="button"-->
            <!--mat-raised-button-->
            <!--color="accent">-->
      <!--{{ "DASHBOARD." + translationKey + ".BUTTON_TEXT" | translate }}-->
    <!--</button>-->
  <!--</mat-card-actions>-->
</mat-card>
