//@import "media";
//
//:host {
//  display: block;
//  //width: 20%;
//  padding: 10px;
//  box-sizing: border-box;
//  //min-height: 300px;
//
//  @include mobile {
//    width: 100% !important;
//  }
//
//  @include tablet {
//    width: 50% !important;
//  }
//}
//
//.mat-card-actions {
//  display: flex;
//  justify-content: center;
//  margin-bottom: 0 !important;
//}
//
//.mat-card {
//  height: 100%;
//  box-sizing: border-box;
//  display: flex;
//  flex-direction: column;
//}
//
//.mat-card-content {
//  flex: 1;
//}

div.scroll-list {
  overflow: auto;
  max-height: 70vh;
}

.drag-over {
  border: #ff525b dashed 2px;
}

.drag-hint {
  border: #ffc100 dashed 2px;
  /*transition: all .2s ease-in-out;*/
  /*transform: scale(1.05);*/
}

.drag-target-border {
  border: #00bfff dashed 2px;
}
