<pr-narrow-page [header]="'AUTH.SET_PASSWORD.HEADER' | translate" [expanded]="true">

  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">

    <p class="motivation">
      {{ "AUTH.SET_PASSWORD.MOTIVATION" | translate }}
    </p>

    <pr-input type="password"
              [placeholder]="'AUTH.SET_PASSWORD.PASSWORD' | translate"
              formControlName="password"></pr-input>

    <pr-input type="password"
              [placeholder]="'AUTH.SET_PASSWORD.CONFIRM_PASSWORD' | translate"
              formControlName="confirmPassword"></pr-input>

    <pr-terms-of-service [fullPage]="false"></pr-terms-of-service>

    <mat-checkbox formControlName="toSAccepted" color="accent">
      {{ "AUTH.SET_PASSWORD.ACCEPT_TOS" | translate }}
    </mat-checkbox>

    <mat-error *ngIf="errorMessage">
      {{ errorMessage }}
    </mat-error>

    <button type="submit"
            mat-raised-button
            class="narrow-page-button"
            [disabled]="pending || form.controls['toSAccepted'].invalid"
            color="accent">
      {{ "AUTH.SET_PASSWORD.BUTTON_TEXT" | translate }}
    </button>

  </form>
</pr-narrow-page>
