<mat-card class="mat-typography">
  <mat-card-content>
    <pr-static-field [label]="'DOCUMENT_TYPES.LIST_ITEM.NAME' | translate"
                     [value]="item.name"
                     class="name"></pr-static-field>
  </mat-card-content>

  <mat-card-actions>
    <pr-button icon="edit"
               (click)="edit.emit()">
      {{'COMMON.BUTTONS.EDIT' | translate}}
    </pr-button>

    <pr-button icon="delete"
               (click)="delete.emit()">
      {{'COMMON.BUTTONS.DELETE' | translate}}
    </pr-button>
  </mat-card-actions>
</mat-card>
