<pr-narrow-page [header]="'AUTH.FORGOT_PASSWORD.HEADER' | translate">
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">

    <p class="motivation">
      {{ "AUTH.FORGOT_PASSWORD.MOTIVATION" | translate }}
    </p>

    <pr-input type="email"
              class="email"
              [placeholder]="'AUTH.FORGOT_PASSWORD.EMAIL' | translate"
              formControlName="email"></pr-input>

    <pr-captcha [captchaGroup]="captchaGroup">
    </pr-captcha>

    <mat-error *ngIf="errorMessage">
      {{ errorMessage }}
    </mat-error>

    <button type="submit"
            mat-raised-button
            class="narrow-page-button"
            [disabled]="pending"
            color="accent">
      {{ "AUTH.FORGOT_PASSWORD.BUTTON_TEXT" | translate }}
    </button>

  </form>
</pr-narrow-page>

<div class="mat-typography already-have">
  <span>{{ "AUTH.FORGOT_PASSWORD.ALREADY_HAVE_TEXT" | translate }}</span>

  <a [routerLink]="authLoginUrl">
    {{ "AUTH.FORGOT_PASSWORD.ALREADY_HAVE_LINK_TEXT" | translate }}
  </a>
</div>
