<pr-narrow-page [header]="'AUTH.RESET_PASSWORD.HEADER' | translate">

  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">

    <p class="motivation">
      {{ "AUTH.RESET_PASSWORD.MOTIVATION" | translate }}
    </p>

    <pr-input type="password"
              [placeholder]="'AUTH.RESET_PASSWORD.PASSWORD' | translate"
              formControlName="password"></pr-input>

    <pr-input type="password"
              [placeholder]="'AUTH.RESET_PASSWORD.CONFIRM_PASSWORD' | translate"
              formControlName="confirmPassword"></pr-input>

    <mat-error *ngIf="errorMessage">
      {{ errorMessage }}
    </mat-error>

    <button type="submit"
            mat-raised-button
            class="narrow-page-button"
            [disabled]="pending"
            color="accent">
      {{ "AUTH.RESET_PASSWORD.BUTTON_TEXT" | translate }}
    </button>

  </form>
</pr-narrow-page>
