@import "media";

.mat-dialog-content {
  margin: unset;
  padding: unset;
  display: grid;
  justify-content: start;
}

.buttons {
  text-align: right;
  button {
    margin-left: 8px;
  }
}

@include mobile {
  .mat-dialog-content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .mat-dialog-actions {
    margin-right: 20px;
  }
  ::ng-deep .mat-step {
    max-width: 340px;
  }
}
