<form id="otp-deactivate"
      [formGroup]="formGroupValidator"
      class="mat-typography"
      (ngSubmit)="onSubmit()"
      autoComplete="off">

  <div mat-dialog-title>
    {{ "OTP.DISABLE_FORM.TITLE" | translate }}
  </div>

  <mat-dialog-content>
    <pr-otp-validator [formGroup]="formGroupValidator"></pr-otp-validator>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="button"
      mat-raised-button
      (click)="onCancel()">
      {{ "COMMON.BUTTONS.CANCEL" | translate }}
    </button>

    <button type="submit"
            mat-raised-button
            color="accent">
      {{ "OTP.DISABLE_FORM.DEACTIVATE" | translate}}
    </button>
  </mat-dialog-actions>

</form>
