$content-padding: 40px;
$content-padding-mobile: 8px;
$toolbar-minimized-height-desktop: 70px;
$toolbar-minimized-height-tablet: 46px;
$toolbar-minimized-height-mobile: 46px;
$page-top-padding-desktop-tablet: 169px;
$page-top-padding-mobile: 68px;

$backdrop-height-desktop: 307px;
$backdrop-height-tablet: 307px;
$backdrop-height-mobile: 115px;

$sidenav-margin: 30px;
$sidenav-desktop-width: 326px;
$sidenav-tablet-and-mobile-width: 300px;
