<pr-dashboard-item *ngFor="let ticketStatus of ticketStatuses | async; trackBy: trackByFn"
                   [ticketStatus]="ticketStatus"
                   [tickets]="tickets">
</pr-dashboard-item>

<!--<pr-dashboard-item class = "dItems" translationKey="STAFF"-->
                   <!--[url]="routesService.staffNew()">-->
<!--</pr-dashboard-item>-->

<!--<pr-dashboard-item class = "dItems" translationKey="STAFF"-->
                   <!--[url]="routesService.staffNew()">-->
<!--</pr-dashboard-item>-->

<!--<pr-dashboard-item class = "dItems" translationKey="STAFF"-->
                   <!--[url]="routesService.staffNew()">-->
<!--</pr-dashboard-item>-->

<!--<pr-dashboard-item class = "dItems" translationKey="STAFF"-->
                   <!--[url]="routesService.staffNew()">-->
<!--</pr-dashboard-item>-->
