:host {
  display: block;
  width: min-content;
}

.mat-calendar-period-button {
  pointer-events: none;
}

.mat-calendar-arrow {
  display: none;
}

.mat-form-field {
  width: 100%;
}

.hidden {
  display: none;
}
