@import "media";

:host {
  display: block;
  //width: 20%;
  padding: 10px;
  box-sizing: border-box;
  //min-height: 300px;

  @include mobile {
    width: 100% !important;
  }

  @include tablet {
    width: 50% !important;
  }
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 0 !important;
}

.mat-card {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.mat-card-content {
  flex: 1;
}
